.titletext
{
    text-align: center;
    text-transform: uppercase;
    font-family: "bold arial";
    font-size: 37px;
}
/*                      INTRODUCTION                    */
.introduction-bodytext
{
    padding: 4px 10px;
    font-size: 15px;
    color: rgb(252, 252, 252);     /*background of the body changes colors*/
    background-color: rgb(1, 1, 2);
}
.introduction-main
{
    background-color: rgb(107, 107, 153);
}
.introduction-ultext
{
    list-style-type: square;
    background-color: rgb(100, 197, 133);
}

/*                      REASON                    */
.reason-bodytext
{
    font-size: 15px;
    color: rgb(216, 214, 92);     /*background of the body changes colors*/
    background-color: rgb(37, 78, 119);
    padding: 4px 10px;
}
.reason-main
{
    background-color: rgb(107, 107, 153);
}
.reason-section
{
    background-color: rgb(185, 63, 165);
}
.reasons-oltext
{
    list-style-type: lower-alpha
}

/*                      PICTURE                    */
.picture-bodytext
{
    padding: 4px 10px;
    font-size: 15px;
    color: rgb(125, 248, 238);     /*background of the body changes colors*/
    background-color: rgb(14, 58, 99);
}
.picture-main
{
    background-color: rgb(248, 1, 42);
}
.picture-section
{
    background-color: rgb(185, 63, 165);
}
.picture-section2
{
    background-color: rgb(107, 107, 153);
}
.picture-traits
{
    height: 400px;
    width: 600px;
}
/*                      SECTION/LINKS                    */
.section-links
{
    padding: 4px 10px;
    border: 2px solid pink;
    margin: 0;      /*sets margin for thumbnail titles to 0*/
    background-color: rgb(16, 16, 197);
}
.link { color:red; } /* CSS link color (red) */
.link:hover { color: orange; } /* CSS link hover (green) */
